.relative {
  position: absolute;
  left: 400px;
  top: 20px;
}

.logout{
  position: absolute;
  left: 800px;
  top: 20px;
}

.hidden {
  display: none;
} 

ul.no-bullets{
  list-style-type: none;
  margin: 0;
  padding: 0;
}